$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(226, 138, 226);

#character-page {
    #character-title {
        h1 {
            margin: 25px 0;
            text-align: center;
        }
    }
    
    #character-images {
        .col-xs-12 {
            position: relative;

            img {
                margin-bottom: 15px;
                transform: scale(.95);
                transition: .25s;
                width: 100%;

                &:hover {
                    cursor: pointer;
                    opacity: .5;
                    transform: scale(1);
                }
            }

            h4 {
                color: #fff;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                text-align: center;
                text-shadow: 
                    rgba($gwen-black, 0.5) -1px -1px 0px, 
                    rgba($gwen-black, 0.5) -1px 1px 0px, 
                    rgba($gwen-black, 0.5) 1px 1px 0px, 
                    rgba($gwen-black, 0.5) 1px -1px 0px;
                top: 50%;
            }
        }
    }
}