// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(238, 206, 238);

#faq-page {
    .question {
        h3 {
            color: $gwen-blue;
        }

        p {
            margin-bottom: 40px;
        }
    }
}
