// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(226, 138, 226);

#package-page {
    p {
        text-align: center;
    }
    #package-list {
        .col-sm-12 {
            margin-bottom: 50px;

            h2, h3, h4 {
                text-align: center;
            }
        }
    }
}