// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-blue-filter: invert(72%) sepia(76%) saturate(395%) hue-rotate(161deg) brightness(89%) contrast(87%);

#package-page {
    p {
        text-align: center;
    }
    #package-list {
        .col-sm-12 {
            margin-bottom: 50px;
            text-align: center;

            ul {
                text-align: left;
            }

            img {
                margin-top: 15px;
                // position: absolute;
                width: 100px;
            }
        }
    }
}