// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(226, 138, 226);

$small: 576px;
$medium: 768px;
$large: 992px;
$extra: 1200px;

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin Italic'), url('../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium Italic'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold Italic'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Black'), url('../fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}

@mixin sm {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$extra}) {
        @content;
    }
}

body {
    font-family: 'Brandon Grotesque Light';

    * {
        color: $gwen-black;
    }
    
    section {
        margin: 0 0 25px 0;
    }
    
    .title {
        h1 {
            font-weight: bold;
            margin: 25px 0;
            text-align: center;
        }
    }

    #loader {
        background: $gwen-blue;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;

        .row {
            position: relative;
            top: 40%;

            .spinner {
                animation: spin 2s linear infinite;
                border: 16px solid #f3f3f3;
                border-top: 16px solid $gwen-pink;
                border-radius: 50%;
                height: 120px;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                right: 0;
                width: 120px;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    nav {
        &.bg-dark {
            background-color: $gwen-black !important;
        }

        &.navbar-dark {
            .navbar-nav {
                .nav-item {
                    &:last-of-type {
                        background: #fff;
                        border-radius:  5px;
                        padding: 0 10px;
                        transition: .5s;
                        width: 145px;

                        &:hover {
                            background: $gwen-pink;

                            .nav-link {
                                color: $gwen-black;
                            }
                        }
                    }

                    .nav-link {
                        color: $gwen-pink;
                        transition: .5s;

                        &:hover {
                            color: $gwen-blue;
                        }

                    }
                }
            }
        }
    }

    .social-media {
        svg {
            fill: $gwen-pink;
            height: 30px;
            transition: .25s;
            width: 30px;

            &:hover {
                fill: $gwen-blue;
            }
        }
    }
    
    #spacer {
        height: 56px;
    }

    // Main
    #header {
        img {
            max-width: 100%;
        }
    }

    #home-page {
        padding: 15px;
    }

    // Footer
    footer {
        background: $gwen-black;
        
        .container {
            padding: 15px;

            .row {
                b {
                    color: #fff;
                }

                p {
                    color: #fff;
                    font-size: 13px;
                }

                h5, h6 {
                    color: $gwen-blue;
                }

                .social-media {
                    position: absolute;
                    right: 15px;
                }
            }
        }
        
    }

    @include sm {
        footer {
            .container {
                padding: 15px 0;
            }
        }
    }

    @include md {
    }

    @include lg {
        nav {
            &.navbar-dark {
                .navbar-nav {
                    .nav-item {
                        &:last-of-type {
                            width: auto;
                        }
                    }
                }
            }
        }

        .social-media {
            position: absolute;
            right: 15px;
        }
    }

    @include xl {
        
    }
}