// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(226, 138, 226);

$small: 543px;
$medium: 768px;
$large: 992px;
$extra: 1200px;

@mixin sm {
    @media (min-width: #{$small}) and (max-width: #{$medium}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$medium}) and (max-width: #{$large}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$extra}) {
        @content;
    }
}

body {
    * {
        color: $gwen-black;
    }
    
    section {
        margin: 0 0 25px 0;
    }

    #loader {
        background: $gwen-blue;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;

        .row {
            position: relative;
            top: 40%;

            .spinner {
                animation: spin 2s linear infinite;
                border: 16px solid #f3f3f3;
                border-top: 16px solid $gwen-pink;
                border-radius: 50%;
                height: 120px;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                right: 0;
                width: 120px;
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }

    nav {
        &.bg-dark {
            background-color: $gwen-black !important;
        }

        &.navbar-dark {
            .navbar-nav {
                .nav-item {
                    &:last-of-type {
                        background: #fff;
                        border-radius:  5px;
                        padding: 0 10px;
                        transition: .5s;
                        width: 155px;

                        &:hover {
                            background: $gwen-pink;

                            .nav-link {
                                color: $gwen-black;
                            }
                        }
                    }

                    .nav-link {
                        color: $gwen-pink;
                        transition: .5s;

                        &:hover {
                            color: $gwen-blue;
                        }

                    }
                }
            }
        }
    }

    .social-media {
        margin-top: 10px;

        svg {
            fill: $gwen-pink;
            height: 30px;
            transition: .25s;
            width: 30px;

            &:hover {
                fill: $gwen-blue;
            }
        }
    }
    
    #spacer {
        height: 56px;
    }

    // Main
    #header {
        img {
            max-width: 100%;
        }
    }

    #home-page {
        padding: 15px;
    }

    // Footer
    footer {
        background: $gwen-black;
        .container {
            padding: 15px 0 0;
            
            .row {
                p {
                    color: #fff;
                }

                h5, h6 {
                    color: $gwen-blue;
                }

                .social-media {
                    position: absolute;
                    right: 15px;
                }
            }
        }
        
    }

    @include sm {
        
    }

    @include md {
        
    }

    @include lg {
        nav {
            &.navbar-dark {
                .navbar-nav {
                    .nav-item {
                        &:last-of-type {
                            width: auto;
                        }
                    }
                }
            }
        }

        .social-media {
            margin-top: 0;
            position: absolute;
            right: 15px;
        }
    }

    @include xl {
        
    }
}