@font-face {
  font-family: 'Brandon Grotesque Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Regular Italic"), url("../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Thin Italic"), url("../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Light';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light"), url("../fonts/brandon-grotesque-light-58a8a4b38001d.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Light Italic"), url("../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Medium Italic"), url("../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Bold Italic"), url("../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff") format("woff");
}

@font-face {
  font-family: 'Brandon Grotesque Black';
  font-style: normal;
  font-weight: normal;
  src: local("Brandon Grotesque Black"), url("../fonts/brandon-grotesque-black-58a8a3e824392.woff") format("woff");
}

body {
  font-family: 'Brandon Grotesque Light';
}

body * {
  color: #444343;
}

body h1 {
  text-align: center;
}

body section {
  margin: 0 0 25px 0;
}

body #loader {
  background: #67bcd6;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

body #loader .row {
  margin-top: 56px;
}

body #loader .row .logo-load {
  -webkit-animation: imageFade 1s forwards ease-in-out;
          animation: imageFade 1s forwards ease-in-out;
  position: relative;
  text-align: center;
  opacity: 0;
  width: 100%;
}

body #loader .row .logo-load svg {
  width: 100%;
}

body #loader .row .logo-load svg path, body #loader .row .logo-load svg circle {
  fill: #fff;
}

body #loader .row .logo-load .load-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
}

body #loader .row .logo-load .load-dots div {
  height: 25px;
  width: 25px;
  margin: 0 15px;
  border-radius: 50%;
  background: #fff;
}

body #loader .row .logo-load .load-dots div:nth-of-type(1) {
  -webkit-animation: loading 1s .25s infinite ease-in-out;
          animation: loading 1s .25s infinite ease-in-out;
}

body #loader .row .logo-load .load-dots div:nth-of-type(2) {
  -webkit-animation: loading 1s .5s infinite ease-in-out;
          animation: loading 1s .5s infinite ease-in-out;
}

body #loader .row .logo-load .load-dots div:nth-of-type(3) {
  -webkit-animation: loading 1s .75s infinite ease-in-out;
          animation: loading 1s .75s infinite ease-in-out;
}

@-webkit-keyframes loading {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes loading {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -10px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes imageFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body nav.navbar {
  padding: 0 1rem;
}

body nav.bg-dark {
  background-color: #444343 !important;
}

body nav.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #fff;
  -webkit-transition: .25s;
  transition: .25s;
}

body nav.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: #67bcd6;
}

body nav.navbar-dark .navbar-nav .nav-item.active {
  background: #fff;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-transition: .25s;
  transition: .25s;
}

body nav.navbar-dark .navbar-nav .nav-item.active a {
  color: #444343;
}

body nav img {
  height: 50px;
  -webkit-filter: invert(99%) sepia(25%) saturate(119%) hue-rotate(1deg) brightness(110%) contrast(100%);
          filter: invert(99%) sepia(25%) saturate(119%) hue-rotate(1deg) brightness(110%) contrast(100%);
  -webkit-transition: .25s;
  transition: .25s;
}

body nav img:hover {
  -webkit-filter: invert(72%) sepia(76%) saturate(395%) hue-rotate(161deg) brightness(89%) contrast(87%);
          filter: invert(72%) sepia(76%) saturate(395%) hue-rotate(161deg) brightness(89%) contrast(87%);
}

body .social-media svg {
  fill: #fff;
  height: 30px;
  -webkit-transition: .25s;
  transition: .25s;
  width: 30px;
}

body .social-media svg:hover {
  fill: #67bcd6;
}

body #spacer {
  height: 60px;
}

body #header .row {
  position: relative;
}

body #header .row img {
  height: auto;
  max-width: 100%;
}

body #home-page {
  padding: 15px;
}

body #home-page h2 {
  text-align: center;
}

body .text-overlay {
  color: #fff;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: rgba(68, 67, 67, 0.5) -1px -1px 5px, rgba(68, 67, 67, 0.5) -1px 1px 5px, rgba(68, 67, 67, 0.5) 1px 1px 5px, rgba(68, 67, 67, 0.5) 1px -1px 5px;
  top: 50%;
}

body #character-images .col-sm-12 {
  position: relative;
}

body #character-images .col-sm-12 img {
  margin-bottom: 15px;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: .25s;
  transition: .25s;
  width: 100%;
}

body #character-images .col-sm-12 img:hover {
  cursor: pointer;
  opacity: .5;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body footer {
  background: #444343;
}

body footer .container {
  padding: 15px;
}

body footer .container .row b {
  color: #fff;
}

body footer .container .row p {
  color: #fff;
  font-size: 13px;
}

body footer .container .row h5 {
  color: #67bcd6;
}

body footer .container .row h6 {
  color: #67bcd6;
  -webkit-transition: .25s;
  transition: .25s;
}

body footer .container .row h6:hover {
  color: #fff;
}

body footer .container .row .social-media {
  position: absolute;
  right: 15px;
}

body footer .container .row a {
  text-decoration: none;
}

@media (min-width: 576px) {
  body footer .container {
    padding: 15px 0;
  }
  body #loader .row .logo-load svg {
    width: 30%;
  }
}

@media (min-width: 992px) {
  body nav.navbar-dark .navbar-nav .nav-item:last-of-type {
    width: auto;
  }
  body .social-media {
    position: absolute;
    right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */