// Color Variables:
$gwen-black: rgb(68, 67, 67);
$gwen-blue: rgb(103, 188, 214);
$gwen-pink: rgb(238, 206, 238);

$small: 576px;
$medium: 768px;
$large: 992px;
$extra: 1200px;

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Regular Italic'), url('../fonts/brandon-grotesque-regular-italic-58a8a456c4724.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Thin Italic'), url('../fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Light';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light'), url('../fonts/brandon-grotesque-light-58a8a4b38001d.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Light Italic'), url('../fonts/brandon-grotesque-light-italic-58a8a4ccb88be.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Medium Italic'), url('../fonts/brandon-grotesque-medium-italic-58a8a3c40866a.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Bold Italic'), url('../fonts/brandon-grotesque-bold-italic-58a8a48221563.woff') format('woff');
}

@font-face {
    font-family: 'Brandon Grotesque Black';
    font-style: normal;
    font-weight: normal;
    src: local('Brandon Grotesque Black'), url('../fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff');
}

@mixin sm {
    @media (min-width: #{$small}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$large}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$extra}) {
        @content;
    }
}

body {
    font-family: 'Brandon Grotesque Light';

    * {
        color: $gwen-black;
    }

    h1 {
        text-align: center;
    }
    
    section {
        margin: 0 0 25px 0;
    }

    #loader {
        background: $gwen-blue;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1;

        .row {
            margin-top: 56px;

            .logo-load {
                animation: imageFade 1s forwards ease-in-out;
                position: relative;
                text-align: center;
                opacity: 0;
                width: 100%;

                svg {
                    filter: invert(86%) sepia(26%) saturate(228%) hue-rotate(251deg) brightness(98%) contrast(90%);
                    width: 100%;
                }

                .load-dots {
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    width: 170px;

                    div {
                        border: 1px solid $gwen-black;
                        height: 25px;
                        width: 25px;
                        margin: 0 15px;
                        border-radius: 50%;
                        background: $gwen-pink;

                        &:nth-of-type(1) {
                            animation: loading 1s .25s infinite ease-in-out;
                        }

                        &:nth-of-type(2) {
                            animation: loading 1s .5s infinite ease-in-out;
                        }

                        &:nth-of-type(3) {
                            animation: loading 1s .75s infinite ease-in-out;
                        }
                    }
                }
            }
        }

        @keyframes loading {
            0% {
                margin-top: 0px;
            }

            25% {
                margin-top: -10px;
            }

            50% {
                margin-top: 0px;
            }

            100% {
                margin-top: 0px;
            }
        }

        @keyframes imageFade {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    nav {
        &.navbar {
            padding: 0 1rem;
        }
        
        &.bg-dark {
            background-color: $gwen-black !important;
        }

        &.navbar-dark {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: #fff;
                        transition: .25s;

                        &:hover {
                            color: $gwen-blue;
                        }
                    }
                    &.active {
                        background: #fff;
                        border-radius: 5px;
                        padding: 0 10px;
                        transition: .25s;

                        a {
                            color: $gwen-black;
                        }
                    }
                }
            }
        }

        img {
            height: 50px;
            filter: invert(86%) sepia(26%) saturate(228%) hue-rotate(251deg) brightness(98%) contrast(90%);
        }
    }

    .social-media {
        svg {
            fill: #fff;
            height: 30px;
            transition: .25s;
            width: 30px;

            &:hover {
                fill: $gwen-blue;
            }
        }
    }
    
    #spacer {
        height: 60px;
    }

    // Main
    #header {
        .row {
            position: relative;

            img {
                max-width: 100%;
            }
        }
    }

    #home-page {
        padding: 15px;

        h2 {
            text-align: center;
        }
    }

    .text-overlay {
        color: #fff;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 
            rgba($gwen-black, 0.5) -1px -1px 5px, 
            rgba($gwen-black, 0.5) -1px 1px 5px, 
            rgba($gwen-black, 0.5) 1px 1px 5px, 
            rgba($gwen-black, 0.5) 1px -1px 5px;
        top: 50%;
    }

    #character-images {
        .col-sm-12 {
            position: relative;
    
            img {
                margin-bottom: 15px;
                transform: scale(.95);
                transition: .25s;
                width: 100%;
    
                &:hover {
                    cursor: pointer;
                    opacity: .5;
                    transform: scale(1);
                }
            }
        }
    }

    // Footer
    footer {
        background: $gwen-black;
        
        .container {
            padding: 15px;

            .row {
                b {
                    color: #fff;
                }

                p {
                    color: #fff;
                    font-size: 13px;
                }

                h5 {
                    color: $gwen-blue;
                }

                h6 {
                    color: $gwen-blue;
                    transition: .25s;

                    &:hover {
                        color: $gwen-pink;
                    }
                }

                .social-media {
                    position: absolute;
                    right: 15px;
                }

                a {
                    text-decoration: none;
                }
            }
        }
        
    }

    @include sm {
        footer {
            .container {
                padding: 15px 0;
            }
        }

        #loader {
            .row {
                .logo-load {
                    svg {
                        width: 30%;
                    }
                }
            }
        }
    }

    @include md {

    }

    @include lg {
        nav {
            &.navbar-dark {
                .navbar-nav {
                    .nav-item {
                        &:last-of-type {
                            width: auto;
                        }
                    }
                }
            }
        }

        .social-media {
            position: absolute;
            right: 15px;
        }
    }

    @include xl {
        
    }
}